<div>
    <hr>
    <article>
        <div>
            <h2>Nonumy Eirmod</h2>
            <aside>
                <h1>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                    invidunt.</h1>
                <img src="../assets/text-media.png" alt="text-media"/>
            </aside>

        </div>

        <div>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                ut labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea
                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.


            </p>
            <p>
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                illum
                dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
                praesent
                luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam
                erat volutpat. </p>
            <button> Unsere Mission
                <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1_2226)">
                        <path d="M8.00008 2.66663L7.06008 3.60663L10.7801 7.33329H2.66675V8.66663H10.7801L7.06008 12.3933L8.00008 13.3333L13.3334 7.99996L8.00008 2.66663Z"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_1_2226">
                            <rect width="16" height="16"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>

        </div>
    </article>
</div>

